<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Github Actions Notification</title>
	</head>
	<body
		style="
			margin: 0;
			padding: 0;
			background-color: #e9eef6;
			font-family: system-ui, 'Segoe UI', sans-serif;
			color: #341f1f;
		">
		<table width="100%" style="padding: 30px 0; border-spacing: 0">
			<tr>
				<td align="center">
					<table
						style="
							width: 100%;
							max-width: 50vw;
							background: #f8fafd;
							border-radius: 12px;
							padding: 0;
							border-spacing: 0;
							box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
						">

                        {% if WORKFLOW_SUCCESS %}
                        
                        <!-- ----------------------------------------------------- -->
                        <!-- SUCCESS Header -->
                        <!-- ----------------------------------------------------- -->
                        <tr>
                            <td
                                style="
                                background-color: #0d9249;
                                margin: 0;
                                color: #ffffff;
                                padding: 18px;
                                font-size: 18px;
                                border-radius: 12px 12px 0 0;
                                ">
                                <img
                                src="https://img.icons8.com/ffffff/ios-glyphs/240/ok--v1.png"
                                alt="Success Icon"
                                style="height: 30px; vertical-align: middle; margin-right: 8px" />
                                The Workflow Completed Successfully!
                            </td>
                        </tr>

                        {% else %}
                        
                        <!-- ----------------------------------------------------- -->
                        <!-- FAILURE Header -->
                        <!-- ----------------------------------------------------- -->
                        <tr>
                            <td
                                style="
                                    background-color: #c92525;
                                    margin: 0;
                                    color: #fff;
                                    padding: 19px;
                                    font-size: 18px;
                                    border-radius: 12px 12px 0 0;
                                ">
                                The Workflow Failed to Complete!
                            </td>
                        </tr>
                        
                        {% endif %}
                                    
                        <!-- Body -->
                        <tr>
                            <td style="padding: 30px">
                                <!-- ----------------------------------------------------- -->
                                <!-- Run Summary -->
                                <!-- ----------------------------------------------------- -->
                                <table
                                    width="100%"
                                    style="margin-bottom: 30px; padding: 0; border-spacing: 0">
                                    <tr>
                                        <td
                                            colspan="2"
                                            style="
                                                font-size: 16px;
                                                padding-bottom: 10px;
                                            ">
                                            🧾 &nbsp;Run Summary
                                        </td>
                                    </tr>

                                    <!-- Workflow Name: -->
                                    <tr>
                                        <td style="padding: 8px 0; color: #4f6368">
                                            Workflow Name:
                                        </td>
                                        <td style="font-weight: bold">{{ WORKFLOW_NAME }} <a
                                                href="{{ RUN_URL }}"
                                                style="
                                                    color: #1e5de5;
                                                    text-decoration: underline;
                                                    font-weight: bold;
                                                "
                                                >(#{{ RUN_NUMBER }})</a
                                            ></td>
                                    </tr>

                                    <!-- Repository: -->
                                    <tr>
                                        <td style="padding: 8px 0; color: #4f6368">Repository:</td>
                                        <td>
                                            <a
                                                href="https://github.com/{{ REPOSITORY }}"
                                                style="
                                                    color: #1e5de5;
                                                    text-decoration: underline;
                                                    font-weight: bold;
                                                "
                                                >{{ REPOSITORY }}</a
                                            >
                                        </td>
                                    </tr>

                                    <!-- Branch/Tag Reference -->
                                    <tr>
                                        <td style="padding: 8px 0; color: #4f6368">
                                            Branch/Tag Reference:
                                        </td>
                                        <td style="font-weight: bold">{{ BRANCH_TAG }}</td>
                                    </tr>

                                     <!-- Commit SHA -->
                                    <tr>
                                        <td style="padding: 8px 0; color: #4f6368">Commit SHA:</td>
                                        <td style="font-weight: bold">{{ COMMIT_SHA }}</td>
                                    </tr>

                                    <!-- Trigger Event: -->
                                    <tr>
                                        <td style="padding: 8px 0; color: #4f6368">
                                            Trigger Event:
                                        </td>
                                        <td style="font-weight: bold">{{ TRIGGER_EVENT }}</td>
                                    </tr>

                                    <!-- Triggered By -->
                                    <tr>
                                        <td style="padding: 8px 0; color: #4f6368">
                                            Triggered By:
                                        </td>
                                        <td style="font-weight: bold">{{ TRIGGERED_BY }}</td>
                                    </tr>

                                </table>

                                <!-- ----------------------------------------------------- -->
                                <!-- Changelog -->
                                <!-- ----------------------------------------------------- -->
                                {% if WHATS_NEW or BUG_FIXES %}

                                <table
                                    width="100%"
                                    style="margin-bottom: 30px; padding: 0; border-spacing: 0">
                                    <tr>
                                        <td
                                            colspan="2"
                                            style="
                                                    font-size: 16px;
                                                    padding-bottom: 10px;
                                            ">
                                            🔧 &nbsp;Changelog
                                        </td>
                                    </tr>

                                     <tr>
                                        <td>
                                            A summary of recent improvements and fixes included in this run:
                                        </td>
                                    </tr>

                                    <!-- ----------------------------------------------------- -->
                                    <!-- Changelog (What's New) -->
                                    <!-- ----------------------------------------------------- -->
                                    {% if WHATS_NEW %}
                                    <tr>
                                        <td
                                            colspan="2"
                                            style="
                                                    color: #444746;
                                                    font-size: 13px;
                                                    font-weight: bold;
                                                    padding: 20px 0 0 0;
                                            ">
                                            🚀 &nbsp;What's New
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td colspan="2">
                                            <ul style="margin-bottom: 5px; padding: 0">
                                                {% for entry in WHATS_NEW %}
                                                <li>{{ entry }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endif %}

                                    <!-- ----------------------------------------------------- -->
                                    <!-- Changelog (Bug Fixes) -->
                                    <!-- ----------------------------------------------------- -->
                                    {% if BUG_FIXES %}
                                    <tr>
                                        <td
                                        colspan="2"
                                        style="
                                            color: #444746;
                                            font-size: 13px;
                                            font-weight: bold;
                                            padding: 20px 0 0 0;
                                        ">
                                        🐞 &nbsp;Bug Fixes
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                        <ul style="margin-bottom: 5px; padding: 0">
                                            {% for entry in BUG_FIXES %}
                                            <li>{{ entry }}</li>
                                            {% endfor %}
                                        </ul>
                                        </td>
                                    </tr>
                                    {% endif %}

                                </table>
                                {% endif %}

                                <!-- ----------------------------------------------------- -->
                                <!-- Artifacts -->
                                <!-- ----------------------------------------------------- -->
                                {% if WORKFLOW_SUCCESS and ARTIFACTS %}
                                <table width="100%" style="border-spacing: 0">
                                    <tr>
                                        <td
                                        style="
                                            padding: 0;
                                            border-spacing: 0;
                                            font-size: 16px;
                                            padding-bottom: 10px;
                                        ">
                                        📦 &nbsp;Artifacts
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-top: 10px">

                                        {% for artifact in ARTIFACTS %}
                                        <div style="margin-bottom: 20px">
                                            <span style="color: #444746; font-weight: bold;">{{ artifact.label }}:</span><br />
                                            <a href="{{ artifact.url }}" style="color: #1e5de5; text-decoration: underline;">
                                            {{ artifact.url }}
                                            </a>
                                        </div>
                                        {% endfor %}
                                        </td>
                                    </tr>
                                </table>
                                {% endif %}
                            </td>
                        </tr>

                        <!-- ----------------------------------------------------- -->
                        <!-- Footer -->
                        <!-- ----------------------------------------------------- -->
                        <tr>
                            <td
                            style="
                                border-top: 1px solid #e9eef6;
                                border-radius: 0 0 12px 12px;
                                padding: 12px 0;
                                text-align: center;
                                font-size: 10px;
                                color: #444746;
                            ">
                            This is an automated email from GitHub Actions. Please do not reply to this email.
                            For queries, contact devsecops@matrixcomse.com.
                            </td>
                        </tr>

                    </table>    
                </td>
            </tr>
        </table>
    </body>
</html>
